/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
body,html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80");
    /* Full height */
     height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.h1-sz {
  color: #fff;
  font-size: 6em;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 2px black;
}

.h2-sz {
  color: #fff;
  font-size: 3em;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 2px black;
}

.center-mid {
  left: 50%;
  top: 50%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;

}

.center_div{
    margin: 0 auto;
    width:80%;
}


.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    color:#fff;


  }
  .login-form-1 h3{
      text-align: center;
      margin-bottom:12%;
      color:#fff;
  }
  .login-form-1{
    border-radius: 25px;
    padding: 9%;
    background:#283593;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.theadcustom{
    background-color:#283593;
    border-color: #fff;
    color:#fff;
}
